.navbar{
    display: flex;
    justify-content: space-between;
}

.menu{
    display: flex;
    min-width: 0;

}
.menu *{
    display: flex;
    flex-wrap: nowrap;
}

.site-logo{
    margin: 0.2em;
    width: 10em;
    height: auto;
    border-radius: 10px;
}

