.navbar{
    display: flex;
    justify-content: space-between;
}

.menu{
    display: flex;
    min-width: 0;
    color: #e7f5ff;
    background-color: rgba(0, 0, 0, 0.01);

}
.menu *{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.menu *:hover{
    color: #339af0;
}
.ant-menu > .ant-menu-item-active {
    color: #339af0 !important;
  }

.site-logo {
    font-size: large;
    margin: 0.2em;
    width: 10em;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.01);
    transition: transform 0.5s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.site-logo:hover {
    transform: scale(0.95);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

