.login-page{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.welcome-content{
    flex: 1 1 50%;
    margin: 0 0 0 6em;
    height: auto;
}

.welcome-content h2, .login-text ,h2 {
    background: linear-gradient(to right, #22b8cf 0%, #1c7ed6 100%) ;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent ;

}

.welcome-content h2 {
    font-size: 5em;
    font-weight: 800;
    margin: 0;
    border-bottom: 2px solid #66d9e8;
}

 
.login-text{
    margin: 2em 0 0 0;
    letter-spacing: 2.5px;
    line-height: 1.7em;
    font-weight: 700;
}
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 50%;
    height: auto;

}


.form-wrapper{
    background-color: #e9ecef;
    color: #343a40;
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        border-radius: 20px;
        padding: 2em;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        
        transition: box-shadow 0.3s ease-in-out;

}
.form-wrapper:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1),
    0 0 20px rgba(0, 0, 0, 0.2),
    0 0 30px rgba(0, 0, 0, 0.3);
}


.form-wrapper h2{
    align-self: center;
    font-size: 2.5em;
    margin: 0 0 1em 0;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    color: #1c7ed6;
    
    
}

.register-btn{
    text-decoration: none;
    color: #1c7ed6;
    
}



